<head>
    <title>Edit comment | Hacker News</title>
</head>

<body>
<center>
    <table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" width="85%">
        <tbody>
        <tr>
            <td bgcolor="ff6600">
                <table style="padding:2px" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a style="text-decoration:none;" href="/"><img src="<%= asset_path( 'y18.gif' ) %>"></a>
                        </td>
                        <td class="header">
                            <font size="4"> <b><a style="text-decoration:none;" href="/">Hacker News</a></b></font>
                            <font size="3"> 
                                <a style="text-decoration:none;" href="/">new</a> | 
                                <%if current_user %> <a style="text-decoration:none;" href="/threads">threads</a> | <% end %>
                                <a style="text-decoration:none;" href="/ask">ask</a> | <a style="text-decoration:none;" href="/submissions/new">submit</a>
                            </font>
                        </td>
                        <td>
                            <font size="3">
                                <div align="right">
                                    <% if current_user %>
                                    Signed in as <strong>
                                    <%= link_to current_user.name, "/users/#{current_user.id}", id: "my_profile" %>
                                </strong> |
                                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                                    <% else %>
                                    <%= link_to "Log in", "/auth/google_oauth2", id: "sign_in" %>
                                    <% end %>
                                </div>
                            </font>
                        </td>
                        <td class="spacer" style="width:10px"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
            <td>
                <%= render 'form' %>
            </td>
        </tbody>
    </table>
</center>
</body>
