<%= form_with(model: submit, local: true) do |form| %>
  <% if submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submit.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
